* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ffcaca;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0 20px 40px rgba(black, 0.1);
  width: 300px;
}
table {
  border-collapse: collapse;
  width: 100%;
}
table td {
  font-size: 16px;
  padding: 10px;
  text-align: center;
  transition: 0.2s;
  cursor: pointer;
  font-weight: bold;
}
table td:hover {
  background-color: rgb(199, 199, 199);
}
.vari {
  color: #fff;
  background-color: rgb(70, 70, 70);
}
.vari:hover {
  background-color: #222;
}
.equalbtn {
  background-color: rgb(255, 160, 51);
}
.equalbtn:hover {
  background-color: rgb(255, 160, 51);
}
input {
  width: 100%;
  background-color: #333;
  color: #eee;
  padding: 16px 10px;
  text-align: right;
  border: 0;
}
